@{
    ViewData["Title"] = "Privacy Policy";
    // Kết nối với Layout chính để hiện cái đuôi "- Movie App"
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>