@{
    // Thay đổi tiêu đề của Tab trình duyệt
    ViewData["Title"] = "Movie List";

    // LƯU Ý: Vì đã có file _ViewStart ở Bước 1,
    // nên ta KHÔNG CẦN dòng "Layout = ..." ở đây nữa. Code sẽ ngắn gọn hơn!
}

<h2>My Movie List</h2>

<p>Hello from our View Template!</p>